

#home{
    position: relative;
    background: url('../../assets/bgIMG.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    .app__wrapper{
        padding: 0;

        .copyright{
            display: none;
        }
    }
}


.app__header{
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;
    padding: 2rem 2rem 0;
    align-items: flex-start;

    @media screen and (min-width: 2000px) {
        padding-top: 8rem;
    }

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }

    @media screen and (max-width: 400px) {
        padding-top: 6rem 1rem 2rem;
    }
}

.app__header-info{
    flex: 0.7 ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;


    @media  screen and (max-width: 2000px) {
        width: 100%;
        margin-right: 0rem;
    }
}


.app__header-badge{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;


    .badge-cmp, .tag-cmp{
        padding: 1rem 1rem;
        border: var(--white-color);
        flex-direction: row;
        border-radius: 15px;
        width: auto;
        box-shadow: 0 0 20px rgba( 0, 0, 0, 0.15);
    }

    .tag-cmp{
        flex-direction: column;
        margin-top: 1rem;
        p{
            color: black;
        }
    }

    span{
        font-size: 2.5rem;

        @media screen and (min-width: 2000px) {
            font-size: 5rem;
        }
    }

    @media screen and (max-width: 1200px) {
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 4rem;
    }

}

.badge-cmp-wave{
    animation: wave_animation 5s ease-in-out infinite 1s;
    transform-origin: 70% 70%;
}

@keyframes wave_animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    70% { transform: rotate(-4.0deg) }
   100% { transform: rotate( 0.0deg) }
}

.animate-tag{
    display: flex;
    flex-direction: row;
}




.app__header-circles{
    flex: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    margin-left: 4rem;
    padding-left: 2rem;

    div{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 0 0 20px rgba( 0, 0, 0, 0.15);
        background: var(--white-color);
    }

    img{
        width: 60%;
        height: 60%;
    }

    div:nth-child(1){
        width: 120px;
        height: 120px;
    }

    div:nth-child(2){
        margin: 1.75rem;
        width: 160px;
        height: 160px;
    }

    div:nth-child(3){
        width: 120px;
        height: 120px;
    }

    @media screen and (min-width: 2000px) {
        div:nth-child(1){
            width: 400px;
            height: 400px;
        }
    
        div:nth-child(2){
            width: 200px;
            height: 200px;
        }
    
        div:nth-child(3){
            width: 200px;
            height: 200px;
        }
        
    }

    @media screen and (max-width: 1200px) {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        padding-left: 0;

        div{
            margin: 1rem;
        }
        
    }

}


.app__header-head-tag{
    z-index: 1;
    margin-left: 6rem;
    margin-top: 2rem;

    h1{
        text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.666);
        -webkit-text-stroke: 1px black;
        font-size: 4.5rem;
        letter-spacing: 0.25rem;
        color: orange;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        @media screen and (max-width: 700px) {
            margin: 1rem 0;
            text-shadow: 1px 1px 0.3px rgba(0, 0, 0, 0.666);
            font-size: 2.5rem;
            letter-spacing: 0.1rem;
        }

        // @media screen and (max-width: 701px) and (min-width: 900px) {
        //     margin: 1rem 0;
        //     text-shadow: 1px 1px 0.3px rgba(0, 0, 0, 0.666);
        //     font-size: 3rem;
        //     letter-spacing: 0.1rem;
        // }
    }

    @media screen and (max-width: 900px) {
        margin-left: 0;
    }
}




.app__header-img{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    

    img{
        width: 100%;
        object-fit: contain;
        z-index: 1;
    }

    .overlay_circle{
        position: absolute;
        left: 2rem;
        right: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        height: 90%;
    }

    @media screen and (max-width:1200px) {
        margin: 0.5rem 0;
    }
}



